*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img{
    width: 60px;
    position: relative;
    left: 75%;
    top: 15px;
}

.hero-section{
    /* background-color: aqua; */
    display: flex;
    justify-content:center;
    height: 30vh;
    margin-top:18px ;
}

.txt{
    /* background-color: blueviolet; */
    text-align: center;
    width: 40%;
    padding-top: 15px;
    font-size: 14px;
    color: hsl(233, 12%, 27%);
    
}

.hero-section h2{
    font-weight: 200;
    font-size: 27px;
}

.second{

    height: 80vh;
    display: flex;
    justify-content:space-between;
    position: absolute;
    left: 5%;
}

.two{
    width: 27%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    position: relative;
    padding-bottom: 15px;
}

.two .team{
    height: 46%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 5px;
    border-top: solid hsl(0, 78%, 62%);
    box-shadow: 0px 6px 6px rgb(0,0,0,0.2);

}

.two .karma{
    height: 46%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-top: solid hsl(34, 97%, 64%);
    box-shadow: 0px 6px 6px rgb(0,0,0,0.2);
    justify-content:center;

}

.one , .three{
    height: 46%;
    width: 27%;
    display: flex;
    flex-direction: column;
    position: relative;
    top:25%;
    right: 30px;
}

.one{
    left: 30px;
}
.one .sup {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-top: solid hsl(180, 62%, 55%);
    box-shadow: 0px 6px 6px rgb(0,0,0,0.2);
    justify-content:center;


} 

.three .calc{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-top: solid hsl(212, 86%, 64%);
    box-shadow: 0px 6px 6px rgb(0,0,0,0.2);
    justify-content:center;

}

.para{
    font-weight: 200;
    font-size: 12px;
    color: hsl(212, 6%, 44%);
    margin: 12px;
}

.subhead{


    margin: 12px;
    font-weight: 500;
    color: hsl(233, 12%, 27%);
}
